// Fonts
$primaryFont: 'Sora Regular', sans-serif;
$secondaryFont: 'Objectivity', sans-serif;
$headingFont: 'Runalto';
$baseFontSize: 16px;
$baseFontColor: #5F6572;

// Colours
$primary: #0A2239;
$primaryLight: #F6F2FD;
$secondary: #176087;
$tertiary: #1D84B5;
$gold: #EFCB68;
$quaternary: #53A2BE;
$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #caced5;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;